<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mgt.plat.mapper.FootCyMapper">


    <insert id="addFoodCy" parameterType="List">
        INSERT INTO  foot_classify(foot_category,foot_code,foot_redundancy) VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.footCategory},#{item.footCode},#{item.footRedundancy})
        </foreach>
    </insert>


    <select id="findFootCyList" resultType="com.mgt.plat.entity.FootClassify" parameterType="com.mgt.plat.entity.FootClassify">
        SELECT foot_classify.`foot_id`AS 'foot_id' ,foot_classify.`foot_category` AS foot_category ,foot_classify.`foot_code` foot_code,foot_classify.`foot_redundancy` AS  foot_redundancy
        FROM foot_classify WHERE 1 = 1
        <if test="footId != null">
            and foot_id=#{footId}
        </if>
        <if test="footCategory != null">
            and foot_category=#{footCategory}
        </if>
        <if test="footCode != null">
            and foot_code=#{footCode}
        </if>
        <if test="footRedundancy != null">
            and foot_redundancy=#{footRedundancy}
        </if>
    </select>
    <update id="updateFootCategoryByFootId" parameterType="com.mgt.plat.entity.FootClassify" >
        UPDATE foot_classify
        <set>
            <if test="footCategory !=null and footCategory.length()>0 ">foot_category = #{footCategory},</if>
            <if test="footCode !=null and footCode.length()>0 ">foot_code = #{footCode},</if>
            <if test="footRedundancy !=null and footRedundancy.length()>0 ">foot_redundancy = #{footRedundancy},</if>
        </set>
            where foot_id=#{footId}
    </update>
    <delete id="deleteByFootCategoryById">
        delete from foot_classify where foot_id in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </delete>
</mapper>