<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgt.plat.mapper.PurchaseRecordMapper">
	<insert id="addPurchaseRcd" parameterType="List">
		INSERT purchase_records
		(purchase_date, ingredient_id, ingredient_catalog_id, unit, num, unit_price, budgetary, purchase_num, purchase_price, purchase_cost, gross_profit, vendor, purchaser, note)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.purchaseDate},#{item.ingredientId},#{item.ingredientCatalogId},#{item.unit},#{item.num},#{item.unitPrice},
			#{item.budgetary},#{item.purchaseNum},#{item.purchasePrice},#{item.purchaseCost},#{item.grossProfit},#{item.vendor},
			#{item.purchaser},#{item.note})
		</foreach>
	</insert>
	<select id="findPurchaseRcdList" resultType="com.mgt.plat.entity.PurchaseRecord">
		SELECT id, purchase_date, ingredient_id, ingredient_catalog_id, unit, num, unit_price, budgetary, purchase_num, purchase_price, purchase_cost, gross_profit, vendor, purchaser, note, create_time, update_time
		FROM purchase_records
		WHERE 1 = 1
		<if test="ingredientId != null and ingredientId != 0">
		  and ingredient_id = #{ ingredientId }
		</if>
		<if test="purchaseDate != null and purchaseDate != ''">
			and purchase_date = #{ purchaseDate }
		</if>

	</select>
	<update id="updatePurchaseRcdById" parameterType="com.mgt.plat.entity.PurchaseRecord">
		UPDATE purchase_records
		<set>
			<if test="purchaseDate!= null">
				purchase_date = #{ purchaseDate },
			</if>
			<if test="ingredientId !=null">
				ingredient_id = #{ ingredientId },
			</if>
			<if test="ingredientCatalogId !=null">
				ingredient_catalog_id = #{ingredientCatalogId},
			</if>
			<if test="unit!= null">
				unit = #{unit},
			</if>
			<if test="num != null">
				num = #{num},
			</if>
			<if test="unitPrice !=null">
				unit_price = #{unitPrice},
			</if>
			<if test="budgetary!= null">
				budgetary = #{budgetary},
			</if>
			<if test="purchaseNum !=null">
				purchase_num = #{purchaseNum},
			</if>
			<if test="purchasePrice !=null">
				purchase_price = #{purchasePrice},
			</if>
			<if test="purchaseCost!= null">
				purchase_cost = #{purchaseCost},
			</if>
			<if test="grossProfit !=null">
				gross_profit = #{grossProfit},
			</if>
			<if test="vendor !=null">
				vendor = #{vendor},
			</if>
			<if test="purchaser!= null">
				purchaser = #{purchaser},
			</if>
			<if test="grossProfit !=null">
				note = #{note},
			</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deletePurchaseRcdById">
		DELETE FROM purchase_records WHERE id= #{ id };
	</delete>
</mapper>
