<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgt.plat.mapper.SkuInfoMapper">
    <insert id="addSkuInfo" parameterType="List">
        INSERT INTO sku_info(sku_name, sku_num, sku_unit, conversion_rate, optional_price, unit_price, amount, note)
        VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.skuName},#{item.skuNum},#{item.skuUnit},#{item.conversionRate},#{item.optionalPrice},
            #{item.unitPrice},#{item.amount},#{item.note})
        </foreach>
    </insert>
    
    <select id="findSkuInfoList" resultType="com.mgt.plat.entity.SkuInfo">
        SELECT id, sku_name, sku_num, sku_unit, conversion_rate, optional_price, unit_price, amount, note
        FROM sku_info
        WHERE 1 = 1
        <if test="skuName != null and skuName != ''">
            and sku_name = #{ skuName }
        </if>
    </select>

    <update id="updateSkuInfoById" parameterType="com.mgt.plat.entity.SkuInfo" >
        UPDATE sku_info
        <set>
            <if test="skuName!= null">sku_name = #{skuName},</if>
            <if test="skuNum !=null">sku_num = #{skuNum},</if>
            <if test="skuUnit !=null">sku_unit = #{skuUnit},</if>
            <if test="conversionRate !=null">conversion_rate = #{conversionRate},</if>
            <if test="optionalPrice !=null">optional_price = #{optionalPrice},</if>
            <if test="unitPrice !=null">unit_price = #{unitPrice},</if>
            <if test="amount !=null">amount = #{amount},</if>
            <if test="note !=null">note = #{note}</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteSkuInfoById"  >
        DELETE FROM sku_info WHERE id= #{ id };
    </delete>
</mapper>