<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgt.plat.mapper.SkuInfoMapper">
    <insert id="addSkuInfo" parameterType="List">
        INSERT sku_info (skuName, price, img, note, create_time, update_time)
        VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.skuName},#{item.price},#{item.img},#{item.note},#{item.create_time},#{item.update_time})
        </foreach>
    </insert>
    
    <select id="findSkuInfoList" resultType="com.mgt.plat.entity.SkuInfo" parameterType="string">
        SELECT id, skuName, price, img, note, create_time, update_time
        FROM sku_info p
        WHERE 1 = 1
        <if test="skuName != null">
            and skuName = #{ skuName }
        </if>
    </select>

    <update id="updateSkuInfoById" parameterType="com.mgt.plat.entity.SkuInfo" >
        UPDATE sku_info
        <set>
            <if test="skuName!= null">skuName = #{skuName},</if>
            <if test="price !=null">price = #{price},</if>
            <if test="img !=null">img = #{img},</if>
            <if test="note !=null">note = #{note}</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteSkuInfoById"  parameterType="Number" >
        DELETE FROM sku_info WHERE id= #{ id };
    </delete>
</mapper>